*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    word-spacing: 20px;
}

body{
    font-family: 'Poppins', sans-serif;
}

section.hero{    
    display: flex;
    background: linear-gradient(to bottom right, #fff, #fff, #c053f3);
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.hero-esquerda{
    flex: 1;
}

.hero-direita{
    position: relative;
    flex: 1;
}

.titulo-section .amor {
    color: #E91E63;  /* magenta/rosa */
}

.titulo-section .carinho {
    color: #9C27B0;  /* roxo */
}

.titulo-section{
    font-size: 4rem;
    font-weight: 500;
    color: #000;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.botoes-hero{
    display: flex;
    gap: 1.3rem;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}

.botoes-hero button.colecao{
    background-color: #E91E63;
    color:white;
    border: none;
    padding: 0.8rem;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer; 
}

.botoes-hero button.Destaque-Produto{
    background-color: transparent;
    color: #c73ee9;
    border: 1px solid #7e1099;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.8rem;
    transition: ease 0.2s;
}

button.Destaque-Produto:hover{
    background-color: #c73ee9;
    color: white;
    border: 1px solid white;
}

.estatisticas{
    display: flex;
    gap: 1.5rem;
    padding: 1rem 0;
}
.numero-span{
    color: #000;
    font-size: 2rem;
    font-weight: 200;
}

.experiencia-40-4{
    letter-spacing: 1px;
    font-size:2rem;
    color: #E91E63;   
}
.experiencia-40-0{
    letter-spacing: 1px;
    font-size:2rem;
    color: #7e1099;  
}

.hero-img{
    border-radius: 12px;
    overflow: hidden;
}

.hero-img img{
    width: 100%;
    max-width: 100%;
    height: 29rem;
    display: block;
    object-fit: cover;
}   
.card-avaliacao{
    position: absolute;
    bottom: 0.7rem;
    right: 0.5rem;
    display: flex;
    width: 25%;
    align-items: center;
    gap: 0.8rem;
    background: transparent;
    color: white;
    padding: 1rem;
    border-radius: 20px;
    position: absolute;
}